<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="container">
        <h1>Contact</h1><br>
        <p>We offer advice to young couples on how to take advantage of reward points.</p>
        <form action="/action_page.php" target="_blank">
          <p><input  type="text" placeholder="Name" required name="Name"></p>
          <p><input  type="number" placeholder="How many people" required name="People"></p>
          <p><input  type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
          <p><input  type="text" placeholder="Message \ Special requirements" required name="Message"></p>
          <p><button type="submit">SEND MESSAGE</button></p>
        </form>
      </div>
      <a href="/">Back to Home</a>
</body>
</html>