<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="gallery">
        <a target="_blank" href="/images/maui.jpg">
          <img src="/images/maui.jpg" alt="Road to Hana" width="600" height="400">
        </a>
        <div class="desc">The Road to Hana is a scenic highway that twists through the lush rainforest and past the cascading waterfalls.</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="/images/culebra.jpg">
          <img src="/images/culebra.jpg" alt="Culebra, Puerto Rico" width="600" height="400">
        </a>
        <div class="desc">Culebra is somewhat the anti-tourist destination, harboring no large hotels or flashy vacation bells and whistles.</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="/images/bergur.jpg">
          <img src="/images/bergur.jpg" alt="Camino de Ronda" width="600" height="400">
        </a>
        <div class="desc">This is a hike along clifftop trails with beautiful views of contrasting orange cliffs, green trees, and turquoise waters.</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="/images/cannes.jpg">
          <img src="/images/cannes.jpg" alt="Boulevard de la Croisette" width="600" height="400">
        </a>
        <div class="desc">The beaches of Cannes offer seven kilometres of fine sand looking out towards the blue horizon, where the sky and sea blend their hues.</div>
      </div>
    <div>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>